[package]
name = "market-api"
version = "0.1.0"
authors = ["STBoyden <sam@stboyden.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "3"
sqlx = { version =  "0.5", features = ["runtime-actix-native-tls", "postgres"] }
